@mixin btn-small {
	display: inline-block;
	color: #fff;
	background-color: transparent;
	font-size: 14px;
	font-weight: bold;
	border: 2px solid $color-one;
	padding: 7px 13px;
	line-height: 16px;
	text-transform: uppercase;
	border-radius: 2px;
	transition: all 0.3s;

	&:hover,
	&:focus,
	&:active {
		background-color: $color-one;
		color: #fff
	}
}

@mixin btn-primary {
	display: inline-block;
	color: #fff;
	font-weight: bold;
	border-radius: 30px;
	position: relative;
	padding: 21px 33px;
	line-height: 21px;
	transition: all 0.3s;
	border: 2px solid #5489c3;
	&:hover,
	&:focus,
	&:active {
		background-color: $color-two;
				color: #fff
	}
}

@mixin btn-secondary {
	display: inline-block;
	color: #fff;
	background-color: transparent;
	font-size: 18px;
	font-weight: bold;
	border: 2px solid $color-one;
	padding: 16px 50px 14px 88px;
	text-transform: uppercase;
	border-radius: 2px;
	position: relative;
	line-height: 21px;
	transition: all 0.3s;

	&:before {
		position: absolute;
		content: '';
		width: 31px;
		height: 31px;
		left: 35px;
		top: 10px;
		background-image: url(../img/video.svg);
	}

	&:hover,
	&:focus,
	&:active {
		background-color: $color-one;
	}
}
